<div class="contenedor">
    <div class="redes">
        <h3>Haz tu pedido aquí</h3>
        <div class="iconos">
            <a href="https://twitter.com/tu_usuario_de_twitter" target="_blank">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="https://www.facebook.com/tu_pagina_de_facebook" target="_blank">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/tu_usuario_de_instagram" target="_blank">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="" target="_blank">
                <i class="fa-solid fa-phone"></i>
            </a>
            <a href="" target="_blank">
                <i class="fa-solid fa-envelope"></i>
            </a>
        </div>
    </div>
    <div class="contacto">
        <h3>Dirección</h3>
        <div class="iconos">
            <a href="" target="_blank">
                <i class="fa-solid fa-location-dot"></i>
            </a>
        </div>
        <address>Calle Falsa 123</address>
    </div>
    <p class="copy">2023 - Todos los derechos reservados.</p>
</div>