<div class="contenedor">
    <div class="redes">
        <h2>Nuestras redes sociales</h2>
        <div class="iconos">
            <a href="https://twitter.com/tu_usuario_de_twitter" target="_blank">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="https://www.facebook.com/tu_pagina_de_facebook" target="_blank">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/tu_usuario_de_instagram" target="_blank">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </div>
    </div>
    <div class="contacto">
        <h2>Contáctenos</h2>
        <div class="iconos">
            <a href="https://twitter.com/tu_usuario_de_twitter" target="_blank">
                <i class="fa-solid fa-phone"></i>
            </a>
            <a href="https://www.facebook.com/tu_pagina_de_facebook" target="_blank">
                <i class="fa-solid fa-envelope"></i>
            </a>
            <a href="https://www.instagram.com/tu_usuario_de_instagram" target="_blank">
                <i class="fa-solid fa-location-dot"></i>
            </a>
        </div>
    </div>
    <p class="copy">2023 - Todos los derechos reservados.</p>
</div>