<div class="contenedor">
    <div class="bannercontenedor">
        <img src="./assets/media/chichilo-red.png" class="banner">
    </div>
    <div class="navbar">
        <a routerLink="menu" routerLinkActive="active-link"> <i class="fa-solid fa-book-open"></i> Menu</a>
        <a routerLink="inicio" routerLinkActive="active-link"><i class="fas fa-home"></i> Inicio</a>
        <a routerLink="nosotros" routerLinkActive="active-link"><i class="fa-solid fa-users"></i> Nosotros</a>
    </div>
</div>