.banner{
    max-width: 100%;
    height: auto; 
    max-height: 100px;
}

.bannercontenedor
{
    background-color: #800000;
}
.contenedor
{
    display: flex;
   flex-direction: column;
    text-align: center;
    justify-content: center;
}

.navbar-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #800000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar-custom a {
    color: rgb(255, 255, 215);
    text-decoration: none;
    padding: 4px;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    width: 100%; 
    box-sizing: border-box;
    transition: 0.3s;
}

.navbar-custom i {
    font-size: 20px; 
    margin-bottom: 5px; 
}

.navbar-custom .inicio-link {
    background-color: #ffd700;
    color: #800000;
    border-radius: 10px 10px 0 0;
}

.navbar-custom a:hover,
.navbar-custom a:active,
.navbar-custom a:focus,
.navbar-custom a.hover-default {
    background-color: #ffd700;
    color: #800000;
    border-radius: 10px 10px 0 0;
}

.navbar-custom a.active-link {
    background-color: #ffd700;
    color: #800000;
    border-radius: 10px 10px 0 0;
}