<div class="contenedor">
    <div>
        <img src="./assets/media/cantina-de-chichilo-comida.jpg" alt="imagen_de_la_cantina">
    </div>
    <div class="texto">
        <h1>Sobre Nosotros</h1>
        <p>Se recomienda probar la cocina italiana de esta cafetería. Los cocineros de Cantina Chichilo se esfuerzan al
            máximo para dar a sus visitantes un famoso laing, unos bien trabajados caracoles y unos singulares filetes.
            Disfruta de un buen rato aquí y comparte su atrayente tiramisú y su sabroso flan con tus amistades. Para que
            tu almuerzo tenga aún más sabor, pide un vino de la casa, que dicen que esta delicioso. No puedes dejar de
            degustar su excelente café siempre que visites este lugar.</p>
        <p>Estamos seguros que su estancia al estar aqui sera de manera agradable para ustedes, igual que nuestra
            comida, venimos dando nuestros servicios desde 1956, nuestros cliente se han ido siempre maravillados
            despues de comer con nosotros, pero no solo eso, nosotros vamos evolucionando nuestra cocina y empleados
            para ofrecerle lo mejor de lo mejor, y asi ha estado pasando de generacion en generacion.
        </p>
    </div>
</div>